body {
    background-color: hsl(30, 38%, 92%);
}

/* Styling for the Card */

.card {
    background-color: hsl(0, 0%, 100%);
}

h1 {
    color: hsl(212, 21%, 14%);
}

h3 {
    color: hsl(228, 12%, 48%);
}

p {
    color: hsl(228, 12%, 48%);
    font-size: 14px
}

.first-price {
    color: hsl(158, 36%, 37%);

}

.second-price {
    color: hsl(228, 12%, 48%);
}

button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
}